input {
  appearance: normal;
  -moz-appearance: normal;
  -webkit-appearance: normal; }

input[type="checkbox"] {
  width: 18px;
  height: 18px; }

.plus-minus {
  position: relative;
  width: 90px;
  height: 30px; }
  .plus-minus button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: #F12B5E;
    font-size: 3rem;
    height: 30px;
    width: 30px;
    line-height: 30px;
    outline: none; }
  .plus-minus .minus {
    left: 0;
    top: 0; }
  .plus-minus .plus {
    top: 0;
    left: 60px; }
  .plus-minus input {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 30px;
    border: 1px solid #e9e9e9; }

.delete {
  width: 25px;
  height: 30px;
  color: #F12B5E;
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
  background-color: transparent;
  outline: none; }

.zcart-box {
  margin-bottom: 60px; }
  .zcart-box .box {
    border: 2px solid #e9e9e9; }
    .zcart-box .box input[type="checkbox"] {
      position: absolute;
      top: 15px;
      left: 5px; }
    .zcart-box .box .title {
      position: relative;
      height: 50px;
      border-bottom: 1px solid #e9e9e9; }
      .zcart-box .box .title h3 {
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        font-size: 1.6rem; }
      .zcart-box .box .title input[type="checkbox"] {
        top: 16px;
        left: 8px; }
      .zcart-box .box .title p {
        position: absolute;
        right: 10px;
        top: 16px; }
        .zcart-box .box .title p strong {
          color: #F12B5E; }
    .zcart-box .box .detail {
      position: relative; }
      .zcart-box .box .detail input[type="checkbox"] {
        top: 50%;
        margin-top: -10px; }
      .zcart-box .box .detail img {
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: auto;
        height: 80px; }
      .zcart-box .box .detail h3, .zcart-box .box .detail p {
        position: absolute;
        left: 120px; }
      .zcart-box .box .detail h3 {
        top: 5px; }
      .zcart-box .box .detail p {
        bottom: 10px; }
      .zcart-box .box .detail.no-checkbox img {
        margin-left: 10px; }
      .zcart-box .box .detail.no-checkbox h3, .zcart-box .box .detail.no-checkbox p {
        left: 100px; }
      .zcart-box .box .detail .plus-minus {
        position: absolute;
        right: 35px;
        bottom: 5px; }
      .zcart-box .box .detail .delete {
        position: absolute;
        width: 25px;
        height: 30px;
        color: #F12B5E;
        font-size: 1.2rem;
        font-weight: normal;
        border: none;
        background-color: transparent;
        outline: none;
        right: 5px;
        bottom: 5px; }
    .zcart-box .box .pos, .zcart-box .box .all-pos {
      position: relative;
      height: 51px; }
      .zcart-box .box .pos h3, .zcart-box .box .pos p, .zcart-box .box .all-pos h3, .zcart-box .box .all-pos p {
        padding: 5px 0 5px 10px; }
      .zcart-box .box .pos p, .zcart-box .box .all-pos p {
        padding-top: 0; }
      .zcart-box .box .pos .other, .zcart-box .box .all-pos .other {
        position: absolute;
        display: block;
        right: 10px;
        top: 15px; }
        .zcart-box .box .pos .other img, .zcart-box .box .all-pos .other img {
          height: 20px; }
    .zcart-box .box .all-pos {
      display: block;
      border-bottom: 1px solid #e9e9e9; }
      .zcart-box .box .all-pos img {
        display: none;
        position: absolute;
        height: 20px;
        right: 10px;
        top: 15px; }
      .zcart-box .box .all-pos.selected {
        background-color: #e9e9e9; }
        .zcart-box .box .all-pos.selected img {
          display: block; }
    .zcart-box .box .ok h3 {
      text-align: center;
      height: 25px;
      line-height: 25px;
      font-size: 1.6rem; }
      .zcart-box .box .ok h3:first-of-type {
        margin-top: 10px; }
      .zcart-box .box .ok h3:last-of-type {
        margin-bottom: 10px; }
  .zcart-box .price {
    margin: 10px 0;
    height: 30px;
    position: relative; }
    .zcart-box .price input {
      float: left;
      margin-left: 5px;
      margin-top: 7px; }
    .zcart-box .price h4 {
      position: absolute;
      left: 22px;
      font-weight: lighter;
      top: 7px; }
    .zcart-box .price button {
      position: absolute;
      width: 50px;
      height: 30px;
      color: #F12B5E;
      font-size: 1.5rem;
      font-weight: bold;
      border: none;
      background-color: transparent;
      outline: none;
      left: 50px; }
    .zcart-box .price h3 {
      position: absolute;
      height: 30px;
      line-height: 30px;
      left: 45%;
      top: 0; }
      .zcart-box .price h3 strong {
        color: #F12B5E; }
    .zcart-box .price .account {
      display: block;
      top: 0;
      background-color: #F12B5E;
      color: white;
      width: 80px;
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      text-align: center;
      position: absolute;
      right: 5px; }

.my-file {
  padding-top: 45px;
  margin-bottom: 60px; }
  .my-file .box {
    margin-top: 5px; }
    .my-file .box h3 {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      font-size: 1.6rem;
      width: 70px;
      text-align: right; }
    .my-file .box .default {
      border: none;
      background-color: transparent;
      outline: none; }
    .my-file .box .name {
      display: inline-block;
      border: 1px solid #e9e9e9;
      height: 30px;
      margin-left: 10px;
      font-size: 1.4rem; }
    .my-file .box .pos {
      padding-left: 30px; }
    .my-file .box .add-loc {
      display: block;
      width: 56px;
      height: 20px;
      border: 1px solid #e9e9e9;
      text-align: center;
      line-height: 20px;
      margin: 0 auto;
      color: black; }
    .my-file .box input[type="submit"] {
      display: block;
      width: 80px;
      height: 30px;
      text-align: center;
      color: white;
      background-color: #F12B5E;
      margin: 0 auto;
      margin-top: 20px;
      line-height: 30px; }

.my-order {
  padding-top: 45px;
  margin-bottom: 60px; }
  .my-order .message {
    text-align: center;
    margin-top: 50px;
    font-size: 1.6rem;
    display: block; }
    .my-order .message.hidden {
      display: none; }
  .my-order .status {
    width: 280px;
    margin: 10px auto; }
    .my-order .status a {
      margin: 5px 10px;
      font-size: 1.4rem; }
      .my-order .status a.selected {
        color: #F12B5E; }
  .my-order .title h3 {
    padding-left: 15px;
    margin-top: 10px;
    border-top: 1px solid #e9e9e9; }
  .my-order .date {
    margin: 10px auto;
    width: 330px; }
    .my-order .date .during input {
      border: 1px solid #e9e9e9;
      width: 120px; }
    .my-order .date .during .search {
      background-color: #F12B5E;
      color: white;
      padding: 5px; }
  .my-order .table {
    width: 100%; }
    .my-order .table td img {
      display: block;
      margin: 0 auto; }
    .my-order .table td h4 {
      text-align: center; }
      .my-order .table td h4 a {
        display: block;
        font-weight: normal; }

.back {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.6rem; }
  .back img {
    height: 20px;
    margin: 8px 10px; }

.my-commend {
  padding-top: 45px;
  margin-bottom: 60px; }
  .my-commend img {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto; }
  .my-commend h4 {
    text-align: center;
    font-size: 1.4rem;
    margin: 10px 0; }
  .my-commend textarea {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 150px;
    border: 1px solid #e9e9e9;
    border-radius: 3px; }
  .my-commend input[type="submit"] {
    width: 80px;
    height: 30px;
    background-color: #F12B5E;
    color: white;
    margin: 10px auto;
    display: block;
    border-radius: 3px; }
    .my-commend input[type="submit"]::-webkit-input-placeholder {
      color: red; }
    .my-commend input[type="submit"]::-moz-placeholder {
      color: red; }
    .my-commend input[type="submit"]:-moz-placeholder {
      color: red; }
    .my-commend input[type="submit"]:-ms-input-placeholder {
      color: red; }
  .my-commend .box {
    margin: 5px auto; }
  .my-commend h3 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 1.6rem;
    width: 70px;
    text-align: right; }
  .my-commend .wrap {
    margin-left: 20px; }
  .my-commend input[type="text"], .my-commend input[type="tel"] {
    border: 1px solid #e9e9e9;
    height: 30px;
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    padding-left: 10px;
    max-width: 380px; }
    .my-commend input[type="text"].full-width, .my-commend input[type="tel"].full-width {
      width: 80%;
      display: block;
      max-width: 380px;
      margin-left: 20px; }
  .my-commend select {
    width: 90px;
    height: 30px; }

/*# sourceMappingURL=custom.css.map */
