<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
       <link href="__ROOT__/Apps/Admin/View/css/upload.css" rel="stylesheet" type="text/css" />

       <!--[if lt IE 9]>
       <script src="__PUBLIC__/js/html5shiv.min.js"></script>
       <script src="__PUBLIC__/js/respond.min.js"></script>
       <![endif]-->
       <script src="__PUBLIC__/js/jquery.min.js"></script>
       <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
       <script src="__PUBLIC__/js/common.js"></script>
       <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
       <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
       <script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
       <script src="__PUBLIC__/plugins/kindeditor/lang/zh_CN.js"></script>
       <script type="text/javascript" src="__ROOT__/Apps/Admin/View/js/upload.js"></script>
   </head>
   <script>
       var ThinkPHP = window.Think = {
           "ROOT"   : "__ROOT__"
       }
   var filetypes = ["gif","jpg","png","jpeg"];
   $(function () {
	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
				   edit();
			       return false;
			},onError:function(msg){
		}});
	   $("#catName").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:1,max:20,onError:"商品分类不能超过20个字符"});
   });
   function edit(){
	   var params = {};
	   params.id = $('#id').val();
	   params.parentId = $('#parentId').val();
	   params.catName = $('#catName').val();
	   params.priceSection = $('#priceSection').val();
	   params.isShow = $('input[name="isShow"]:checked').val();;
	   params.catSort = $('#catSort').val();
       params.cateImg = $('#cateImg').val();
	   Plugins.waitTips({title:'信息提示',content:'正在提交数据，请稍后...'});
	   $.post("{:U('Admin/GoodsCats/edit')}",params,function(data,textStatus){
			var json = WST.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({ content:'操作成功',timeout:1000,callback:function(){
				   location.href='{:U("Admin/GoodsCats/index")}';
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
	   });
   }
   </script>
   <body class="wst-page">
   <iframe name="upload" style="display:none"></iframe>
   <form id="uploadform_Filedata" autocomplete="off" style="top:96px;position:absolute;left:122px;z-index:10;" enctype="multipart/form-data" method="POST" target="upload" action="{:U('Home/Shops/uploadPic')}" >
       <div style="position:relative;">
           <input id="cateImg" name="cateImg" class="form-control wst-ipt" type="text" value="{$object.cateImg}" readonly style="margin-right:4px;float:left;margin-left:8px;width:250px;"/>
           <div class="div1">
               <div class="div2">浏览</div>
               <input type="file" class="inputstyle" id="Filedata" name="Filedata" onchange="updfile('Filedata');" >
           </div>
           <div style="clear:both;"></div>
           <div >&nbsp;图片大小:80 x 104 (px)(格式为 gif, jpg, jpeg, png)</div>
           <input type="hidden" name="dir" value="cate">
           <input type="hidden" name="width" value="80">
           <input type="hidden" name="folder" value="Filedata">
           <input type="hidden" name="sfilename" value="Filecata">
           <input type="hidden" name="fname" value="cateImg">
           <input type="hidden" id="s_Filedata" name="s_Filedata" value="">
       </div>
   </form>
       <form name="myform" method="post" id="myform" autocomplete="off">
        <input type='hidden' id='id' value='{$object.catId}'/>
        <input type='hidden' id='parentId' value='{$object.parentId}'/>
        <table class="table table-hover table-striped table-bordered wst-form">
           <tr>
             <th width='120' align='right'>商品分类名称<font color='red'>*</font>：</th>
             <td><input type='text' id='catName' class="form-control wst-ipt" value='{$object.catName}' maxLength='25'/></td>
           </tr>
            <tr>
                <th width='120' align='right'>商品分类图标<font color='red'>*</font>：</th>
                <td>
                    <div  style="height: 100px"></div>
                </td>
            </tr>
            <tr>
                <th align='right' width='120'>预览图：</th>
                <td >
                    <div id="preview_Filecata">
                        <img id='preview' src='__ROOT__/{$object.cateImg}' height='152' <if condition="$object['cateImg'] =='' ">style='display:none'</if>/>
                    </div>
                </td>
            </tr>

           <tr>
             <th align='right'>是否显示<font color='red'>*</font>：</th>
             <td>
             <label>
             <input type='radio' id='isShow1' value='1' name='isShow' <if condition="$object['isShow'] ==1 ">checked</if>/>显示
             </label>
             <label>
             <input type='radio' id='isShow0' value='0' name='isShow' <if condition="$object['isShow'] ==0 ">checked</if>/>隐藏
             </label>
             </td>
           </tr>
           <tr>
             <th align='right'>排序号：</th>
             <td><input type='text' id='catSort' class="form-control wst-ipt" value='{$object.catSort}' style='width:80px' onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxLength='8'/></td>
           </tr>
           <tr>
             <td colspan='2' style='padding-left:250px;'>
                 <button type="submit" class="btn btn-success">保&nbsp;存</button>
                  <a class="btn btn-primary" href='{:U("Admin/GoodsCats/index")}'>返&nbsp;回</a>
             </td>
           </tr>
        </table>
       </form>
   </body>
</html>